*{
	font-family : 'Open Sans', sans-serif;
}

body{
	background-color : #feb7a8;
}

#header, #contenu{
	background-color : white;
	border-style : solid;
	/* haut | droit | bas | gauche */
	margin : 1% 2% 2% 2%;
}

/* BUTTONS */

.button a{
	text-decoration : none;
	color : red;
}

/* HEADER */

#header .profil{
	margin-left : 1%;
	float : left;
}

#header h1, #header #descr{
	text-align : right;
	margin-right : 2%;
}

/* CONTENU */

#contenu #accueil{
	float : right;
	/* haut | droit | bas | gauche */
	margin : 0.5% 0.5% auto auto;
	padding : 0.5% 0.5% 0.5% 0.5%;
	background-color : #FFEDEB;
	border-style : solid;
	text-decoration : none;
	color : black;
}

#contenu #accueil:hover{
	background-color : #feb7a8;
	transition : 1s;
}

#contenu #titreContenu{
	text-align : center;
	clear : both; /* PAS LA MEILLEURE SOLUTION ... */
}

#contenu #titreContenu h2{
	margin-bottom : 0%;
	text-decoration : underline;
}

#contenu #titreContenu h4{
	margin-top : 0%;
	font-style : italic;
}

/* SELECT SERVICE */

#contenu #selectService a{
	display : block;
	/* haut | droit | bas | gauche */
	margin : auto 20% 2% 20%;
	padding : 2% 2% 2% 2%;
	background-color : #FFEDEB;
	border-style : solid;
	text-decoration : none;
	color : black;
	text-align : center;
}

#contenu #selectService a:hover{
	background-color : #feb7a8;
	transition : 1s;
}

/* FORMULAIRE */

.formulaire fieldset{
	/* haut | droit | bas | gauche */
	margin : auto 10% 1.5% 10%;
}

.formulaire fieldset legend{
	background-color : inherit;
}

.formulaire .elem{
	text-align : center;
	margin-bottom : 1%;
	overflow-x : hidden;
}

.formulaire .elem label{
	width : 50%;
	float : left;
}

.formulaire .elem input{
	min-width : 25%;
}

.formulaire .submit{
	text-align : center;
	margin-bottom : 1%;
}


.formulaire #msgErr{
	text-align : center;
}


/* FOOTER */

#footer{
	text-align : center;
}

/* ------------------------------- */

/* accueilProf.tpl */

.separator{
	margin-left : 8%;
	margin-right : 8%;	
}

#qcmActuel{
	text-align : center;
}

/* modifQCM.tpl */

fieldset .question{
	clear : left;
	text-align : center;
	text-decoration : none;
	color : black;
}

fieldset .question .titreQ{
	font-weight : bold;
	margin-bottom : 0.5%;
}

fieldset .question:hover{
	color : red;
	transition : 1.5s;
}

fieldset .reponse{
	font-size : 80%;
}

fieldset .reponse p{
	text-align : left;
	display : inline;
}

.elemRep{
	text-align : center;
	margin-left : 5%;
	margin-top : 2%;
}

.elemRep input{
	margin-left : 5%;
}

.elemRep .rep{
	width : 25%;
}
