/* afficherTest.tpl (ETU) */

fieldset{
	text-align : center;
}

.bloque{
	background-color : #DEDEDE;
}

#infos{
	text-align : center;
}

#infos p{
	display : inline-block;
	padding : 1% 1% 1% 1%;
	border-style : solid;
	/* haut | droit | bas | gauche */
	margin : 0.2% 0.2% 0.7% 0.2%;
	background-color : #F7F7F7;
	/* A voir ! */
	max-width : 50%;
}

.titreQuestion{
	font-weight : bold;
	text-align : center;
}

.divReponses{
	display : inline-block;
	margin-bottom : 1%;
}

/* reponses */

.reponseQ{
	text-align : left;
	text-decoration : none;
	color : black;
}

.reponseQ span{
	vertical-align : -15%;
}

.reponseQ p{
	margin-top : 0%;
}

.reponseQ input{
	display : none;
}