/* afficherTest.tpl (PROF) */

#masquerRep{
	display : block;
	text-align : center;
	/* haut | droit | bas | gauche */
	margin : 1% auto 1% auto;
	padding : 0.5% 0.5% 0.5% 0.5%;
	width : 10%;
	background-color : #FFEDEB;
	border-style : solid;
	text-decoration : none;
	color : black;
}

#masquerRep:hover{
	background-color : #feb7a8;
	transition : 1s;
}

#infos{
	text-align : center;
}

#infos p{
	display : inline-block;
	padding : 1% 1% 1% 1%;
	border-style : solid;
	/* haut | droit | bas | gauche */
	margin : 0.2% 0.2% 0.7% 0.2%;
	background-color : #F7F7F7;
	/* A voir ! */
	max-width : 50%;
}

fieldset *{
	display : inline-block;
	margin-left : 2%;
}

.icone{
	float : left;
	text-decoration : none;
	margin-left : 0.5%;
}

/* Marche pas -> style dans la balise HTML */
.icone:hover{
	color : black;
	transition : 1s;
}

.titreQuestion{
	font-weight : bold;
	width : 50%;
}

/* --> Javascript utilisé -> rend cette spécification inutile */
.reponses{
	display : inline;
}

.reponses p{
	text-decoration : underline;
}

.reponses i{
	font-size : 180%;
	display : inline;
}

.reponses span p{
	text-decoration : none;
	font-size : 40%;
	margin-left : 0%;
	color : black;
}

/* analyseResultatsProf.tpl */

#tableauRes{
	text-align : center;
	margin-top : 1%;
	margin-bottom : 2%;
}

#tableauRes table{
	margin : auto;
}

#tableauRes tr, #tableauRes th, #tableauRes td{
	border-style : solid;
}